# 以下の設定内容は5.1.4 サーバーオプション、システム変数およびステータス変数リファレンスを参照
# https://dev.mysql.com/doc/refman/8.0/ja/server-option-variable-reference.html
[mysqld]
# default
# skip-host-cache ホストキャッシュを無効。 IPアドレスをキャッシュするため、アクセスに問題が発生することがある。
skip-host-cache
# skip-name-resolve クライアント接続時のホスト名解決を無効にする。全てipアドレスで接続する？
skip-name-resolve

# character set / collation 照合順序は厳密なutf8mb4_0900_binを適用
character_set_server = utf8mb4
collation_server = utf8mb4_bin

# タイムゾーンを日本時間に設定
# timezone
# default-time-zone = 'Asia/Tokyo'

# mariadbは対応していない
# log_timestamps = SYSTEM

# エラーログ出力先。デフォルトは標準エラーに出力する。dockerは標準エラーでよい。
# log-error = mysql-error.log

# スロークエリログを設定。開発時はスロークエリーログをonにする。
slow_query_log = 1
slow_query_log_file = mysql-slow.log
long_query_time = 1.0
# 全件取得するような非効率なsqlを記録する。
log_queries_not_using_indexes = 0

# 一般クエリーログを有効にする。開発用の設定
general_log = 1
general_log_file = /var/log/mysql/general.log

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
